body {
   background: #EAEDED;
}
.float-left {
   float: left;
}
.float-right {
   float: right;
}
header {
   padding: 5px;
}
header .input-group-text {
    padding: 0;
}
#searchDropdownBox {
   background-color: transparent;
   border: none;
   width: 50px;
   padding: 5px;
}
header a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
}
header a:hover {
   color: #fff;
   text-decoration: none;
   font-weight: 600;
}
header strong {
   padding: 0;
   margin: 0;
   line-height: 0px;
   position: relative;
   top: -7px;
}
.submenu {
   background-color: #232f3e;
   color: #fff;
   padding: 2px 0px 8px;
}
.submenu a {
   color: #fff;
   text-decoration: none;
   font-size: 15px;
}
.submenu a:hover {
   color: #fff;
   font-weight: 600;
}
.anuncios {
   background-color: #37475a;
}
.anuncios * {
   color: #fff;
   text-decoration: none;
   padding: 0px 0;
}
.anuncios a:hover {
   color: #fff;
}
.main .container-fluid {
   max-width: 1500px;
}
.carrousel .slick-prev::before, .carrousel .slick-next::before {
    font-family: 'slick';
    font-size: 63px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 9999999999999999;
    position: relative;
}
.carrousel .slick-next {
    right: 11px;
}
.carrousel .slick-prev, .carrousel .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 29%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.carrousel .slick-prev::before, .carrousel .slick-next::before {
    font-family: 'slick';
    font-size: 63px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.carrousel .slick-prev {
    left: 4px;
    z-index: 99;
}
.img-responsive {
   width: 100%;
}
.margin-less {
   position: relative;
   z-index: 99;
   top: -400px;
   margin-bottom: -400px;
}
.ccard {
   background-color: #fff;
   padding: 15px;
   margin-top: 20px;
   border-radius: 2px;
   box-shadow: 1px 1px 3px #ddd;
}
.titulo-card {
   font-size: 22px;
   font-weight: 600;
}
.link-card {
   text-decoration: none;
   color: #007185;
   font-size: 12px;
   margin-top: 15px;
   display: block;
}
.btn-yellow {
   background: #FFD814;
   border-color: #FCD200;
   border-radius: 6px;
   width: 100%;
   height: 30px;
   padding: 0px;
}
img.publicidad {
   padding: 10px;
   width: 90%;
   margin: 0 auto;
   display: block;
}
.max-heigth-80 {
   max-height: 180px;
   width: auto;
   max-width: 100%;
}
.title-carousel {
   display: inline-block;
   padding: 5px 10px;
}
.more-carousel {
   color: skyblue;
   text-decoration: none;
}
.bg-darkblue {
   background-color: #37475A;
}
.bg-darkblue a {
   color: #fff;
   display: block;
   width: 100%;
   text-decoration: none;
}
.bg-darkblue a:hover {
   color: #c1f9ff;
}

.bg-darkblue2 {
   background-color:#232F3E;
}
footer ul li {
   color: #fff;
   font-weight: 700;
}
footer ul li a {
   color: #fff;
   text-decoration: none;
   font-weight: 500;
}
footer ul li a:hover {
   color: skyblue;
   text-decoration: none;
   font-weight: 500;
}
.finalfoot {
   width: max-content;
   display: block;
   margin: 0 auto;
}
.finalfoot li {
   font-size: 13px;
}
.subcatsmenu {
   background-color: #eee;
   border-bottom: 1px solid #ccc;
   font-size: 13px;
   padding: 5px;
}
.subcatsmenu ul {
   padding: 0px;
}
.subcatsmenu ul li a {
   color: #333;
   text-decoration: none;
}
#breadcrumbs {
   margin-top: 10px;
}
#breadcrumbs a {
   font-size: 14px;
   text-decoration: none;
   color: #333;
}
#breadcrumbs li {
   font-size: 14px;
   color: #333;
}
.list-items-products li {
   border: 1px solid #ccc;
   margin: 10px;
   cursor: pointer;
}
.hide {
   display: none;
}
.red {
   color: red;
}
.cart {
   padding: 10px 20px;
   border-radius: 10px;
}
.cart span {
   display: block;
   font-size: 15px;
}
.cart span.red {
   font-size: 21px;
   color: red;
}
.cart span.gray {
   font-size: 15px;
   color: #999;
}
.cart span.green {
   font-size: 22px;
   color: green;
   margin: 5px auto;
}
.selectgray select {
   background-color: #e9ecef;
   border-left: none;
}
.btn-orange {
   background: #FF9814;
   border-color: #FC7600;
   border-radius: 6px;
   width: 100%;
   height: 30px;
   padding: 0px;
}
.condicionescart .input-group-text{
   background-color: #fff;
   border: 1px solid #fff;
   padding: 0;
}
.condicionescart .input-group-text input{
   position: relative;
   top: -35px;
}
.condicionescart .form-control {
   border: none;
}
.desc {
   padding: 20px;
   font-size: 15px;
}
.desc h3 {
   text-transform: uppercase;
   font-size: 16px;
   font-weight: 700;
   padding: 5px;
   width: 90%;
}
.desc i {
   font-size: 45px;
}
.others span {
   display: block;
   color: #999;
}
.border-right {
   border-right: 1px solid #ccc;
}
.titulodesc {
   color: #CC6600;
   font-size: medium;
   font-weight: 700;
}
.pl-3 {
   padding-left: 15px;
}
.pl-5 {
   padding-left: 25px;
}
.calificacion i {
   color: yellow;
}
.ccard a {
   color: #007185;
   text-decoration: none;
}
.ccard .proce {
   display: block;
   font-weight: 800;
}